body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #121212;
}

/* Text */

h3 {
    align-self: center;
    font-weight: 300;
    margin: 0 0 0.2em;
}
p {
    align-self: center;
    font-size: 0.85em;
    margin: 0 0 1em;
}
.form__p--error {
    align-self: center;
    font-size: 0.9em;
    color: #ea001e;
}
.form__p--error-hidden {
    display: none;
}
.form__span--error {
    font-size: 0.8em;
    color: #ea001e;
}
.form__span--error-hidden {
    display: none;
}

/* Links */

a {
    color: #2e6591;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Form */
form {
    box-sizing: border-box;
    width: 50%;
    max-width: 625px;
    padding: 0 0.3em;
    margin: 0 1em 0 auto;
}
.form--flex {
    display: flex;
    flex-direction: column;
}
form:focus:invalid > .form__p--error-hidden {
    display: inherit;
}

/* ul */
ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* List */

.form__li {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
.relative {
    position: relative;
}

/* Label */

.form__label {
    font-size: 0.75em;
    color: #00000099;
}

/* Select, Input, Textarea */

.form__select, .form__input {
    appearance: none;
    box-sizing: border-box;
    height: 2rem;
    font-size: 0.9rem;
    color: #00000099;
    padding-left: 0.5rem;
    border: 1px solid #ebebeb;
    border-radius: 0.3rem;
    outline: none;
}
.form__select {
    cursor: pointer;
}
.form__select:active, .form__select:focus, .form__input:active, .form__input:focus {
    border-color: #1b96ff;
    box-shadow: 0 0 3px rgb(56, 122, 176);
}
.form__select:focus:invalid, .form__input:focus:invalid {
    border: 2px solid #ea001e;
    box-shadow: none;
}
.form__select:focus:invalid ~ .form__span--error-hidden, .form__input:focus:invalid ~ .form__span--error-hidden {
    display: inherit;
}
.form__textarea {
    height: auto;
}
.select--mask::after {
    content: '';
    position: absolute;
    top: 33px;
    right: 2%;
    border: 6px solid transparent;
    border-bottom: 0;
    border-top: 6px solid #898989;
    cursor: pointer;
}

/* Button */

.button {
    align-self: center;
    width: 130px;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: #fff;
    background-color: #387ab0;
    border: 1px solid #387ab0;
    cursor: pointer;
}
.button:hover {
    background-color: #2c5f89;
}
.button--margin {
    margin: 1em 0 2em;
}

/* Section */
section {
    width: 50%;
}

/* Media Queries */
@media (max-width:1275px) {
    form {
        max-width: inherit;
    }
}
@media (max-width:767px) {
    body {
        display: inherit;
    }
    form {
        width: auto;
    }
    section {
        display: none;
    }
}